/* Aji - 20 sep 2024 */
@media (min-width: 2071px) {
  .custom-border-height {
    position: relative;
    /* Position relative for the pseudo-element */
  }

  .custom-border-height::before {
    content: '';
    position: absolute;
    left: 0;
    /* Align to the left */
    top: -15px;
    width: 1px;
    /* Adjust the width as needed */
    height: 60px;
    /* Set your desired height */
    background-color: #E2EBF6;
    /* Use the current text color for the border */
  }
}

@media (min-width: 1008px) and (max-width: 2070px) {
  .custom-border-height {
    position: relative;
    /* Position relative for the pseudo-element */
  }

  .custom-border-height::before {
    content: '';
    position: absolute;
    left: 0;
    /* Align to the left */
    top: -33px;
    width: 1px;
    /* Adjust the width as needed */
    height: 90px;
    /* Set your desired height */
    background-color: #E2EBF6;
    /* Use the current text color for the border */
  }
}

@media (min-width: 1024px) {
  .sticky-bottom-action {
    position: sticky;
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    border-radius: 0px 0px 8px 8px;
  }
}


/* Roy - 20 sep 2024 */
.filter-container {
  height: calc(100vh - 100px); /* Adjust 100px based on your layout */
  display: flex;
  flex-direction: column;
}

.filter-header {
  flex-shrink: 0;
}

.filter-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px; /* Add some padding for the scrollbar */
}

.filter-footer {
  flex-shrink: 0;
  margin-top: auto;
  padding-top: 1rem;
}

.max-height-table-people {
  max-height: 58.5vh;
}

.max-height-filter {
  min-height: 90vh !important;
}

.max-height-table {
  max-height: 55.2vh;
}

/* Media Queries */
@media (min-width: 1200px) and (max-width: 1439px) {
  .max-height-table {
    max-height: 44.1vh !important;
  }   
}

@media (min-width: 1440px) and (max-width: 1620px) {
  .max-height-table {
    max-height: 52.6vh !important;
  }   
}

@media (min-width: 2071px) {
  .custom-border-height {
    position: relative;
  }

  .custom-border-height::before {
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    width: 1px;
    height: 60px;
    background-color: #E2EBF6;
  }
}

@media (min-width: 1008px) and (max-width: 2070px) {
  .custom-border-height {
    position: relative;
  }

  .custom-border-height::before {
    content: '';
    position: absolute;
    left: 0;
    top: -33px;
    width: 1px;
    height: 90px;
    background-color: #E2EBF6;
  }
}

@media (max-width: 991.98px) {
  .border-start-hide-md {
    border-left: none !important;
  }
}

@media (min-width: 992px) {
  .sticky-left {
    position: sticky;
    left: 0;
    z-index: 1;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .sticky-left-color {
    background-color: white !important;
  }

  .sticky-left + .sticky-left {
    left: 50px;
  }

  tr:hover td.sticky-left {
    background-color: #f8f9fa !important;
  }

  .fixed-bottom-desktop {
    position: sticky;
    bottom: 0px;
    z-index: 1000;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1500px) {
  .main-content-dashboard {
    flex: 0 0 auto;
    width: 73.33333%;
  }   

  .main-content-prospector {
    flex: 0 0 auto;
    width: 100%;
  }   
}

@media (max-width: 576px) {
  .btn-mobile-full-width {
    width: 100% !important;
  }
}

@media (max-width: 400px) {
  .truncate-mobile {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }  
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .scrollable-div {
    max-height: 60vh !important;
    min-height: 60vh !important;
  }   
}

@media (min-width: 1621px) and (max-width: 2559px) {
  .scrollable-div {
    max-height: 65.3vh !important;
    min-height: 65.3vh !important;
  }   
}

@media (min-width: 2560px) {
  .scrollable-div {
    min-height: 48vh !important;
    max-height: 48vh !important;
  }   
}

@media (min-width: 1440px) and (max-width: 1620px) {
  .scrollable-div {
    max-height: 63.3vh !important;
    min-height: 63.3vh !important;
  }   
}

@media (max-width: 767px) {
  .filter-container {
    height: auto;
  }

  .filter-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }

  .filter-footer {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

/* Sticky elements */
.sticky-checkbox {
  position: sticky;
  left: 0;
  background-color: #fff;
  z-index: 3;
}

.sticky-top-gradient {
  background: linear-gradient(to bottom, rgba(249, 251, 253, 1) 80%, rgba(249, 251, 253, 0) 100%) !important;
  padding-bottom: 24px !important;
}

.sticky-thead {
  position: sticky; 
  top: 0; 
  z-index: 10;
  background-color: white;
}

.sticky-thead th {
  border-top: none;
}

.sticky-action {
  position: sticky;
  right: 0;
  background-color: #fff;
  z-index: 1;
}

/* Table styles */
.table-responsive {
  overflow-x: auto;
  overflow-y: auto;
}

th.sticky-action {
  z-index: 2;
}

td.sticky-action {
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  background-color: #fff; /* Default background color is white */
}

tr:hover td.sticky-action {
  background-color: #f8f9fa; /* Bootstrap's default table hover color on hover */
}


tr.noBorder td, thead {
  border-bottom-style: hidden;
}

td, th {
  border-color: #edf2f8;
}

/* Button styles */
.btn-outline-success {
  border-color: #00bd94 !important;
  color: #00bd94 !important;
}

.btn-outline-success:hover,
.btn-outline-success:active {
  color: #fff !important;
  background-color: #00bd94 !important;
  border-color: #00bd94 !important;
}

/* Form styles */
.form-check-input:checked,
.form-switch .form-check-input:checked {
  background-color: #00bd94;
}

.form-control:focus {
  border-color: #00bd94;
  box-shadow: 0 0 0 0.2rem rgba(245, 255, 247, 0.25);
}

/* Custom classes */
.count-up {
  display: inline-block;
  transition: transform 1s ease-in-out;
}

.div-inline {
  display: inline-block;
}

.blur {
  filter: blur(4px);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-center {
  top: 120% !important;
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.dropdown-menu-center {
  right: auto !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, 0) !important;
  -o-transform: translate(-50%, 0) !important;
  transform: translate(-50%, 0) !important;
}

.mt-minus {
  margin-top: -12rem !important;
}

.custom-table-cell {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rotate-90deg {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

/* Color classes */
.alert-success,
.bg-success {
  background-color: #00bd94 !important;
}

.text-success {
  color: #00bd94 !important;
}

.bg-success-soft-2 {
  background-color: #edfaf5 !important;
}

.border-success-soft-2 {
  border: 1px solid #ccf7e5 !important;
}

/* Miscellaneous */
.accordion-button:not(.collapsed) {
  color: black;
  background-color: #edf2f8;
}

.pagination > li.active > a {
  border-color: #00bd94 !important;
  background: #00bd94 !important;
  color: #fff;
}

.nav-pills .nav-item .nav-link.active-success {
  background-color: #00bd94;
  color: #fff;
  border-radius: 50px;
}

.nav-pills .nav-item .nav-link.active-success:hover {
  background-color: #04a07a;
  color: #fff !important;
}

.custom-link:hover {
  color: #02BD94 !important;
}

.link-hover:hover {
  color: #06AC87 !important;
  text-decoration: underline !important;
}

.nav-link.active {
  color: #02BD94 !important;
}

/* Search autocomplete */
.suggestions {
  position: absolute;
  width: calc(100% - 3rem);
  z-index: 1000;
  margin-top: 0.1rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.suggestions .list-group-item {
  cursor: pointer;
}

.suggestions .list-group-item:hover {
  background-color: #F9FBFD;
  color: #02BD94 !important;
}

.scrollable-div {
  max-height: 65.3vh;
  overflow-y: auto;
}