// Monitoring Label
.label-monitor-status {
  font-size: $fs-13;

  &.yellow{
    color: #F6C343 !important;
    border: 1px solid #F6C343;
  }

  &.red{
    color: #ff0000 !important;
    border: 1px solid #ff0000;
  }

  &.gray{
    color: #6e84a3 !important;
    border: 1px solid #6e84a3;
  }

  &.primary{
    color: $primary !important;
    border: 1px solid $primary;
  }
}
