// Monitoring Label
.label-monitor-status {
  font-size: $fs-13;

  &.muted{
    color: #95aac9 !important;
    border: 1px solid #95aac9;
  }

  &.red{
    color: #ff0000 !important;
    border: 1px solid #ff0000;
  }

  &.gray{
    color: #3b506c !important;
    border: 1px solid #3b506c;
  }

  &.primary{
    color: $primary !important;
    border: 1px solid $primary;
  }
}
